.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 60px auto 50px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 499px;
  width: 749px;
  margin: 0 auto -11px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 207px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 207px;
    width: 340px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
}.u-block-fbcf-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 478px);
  top: auto;
  right: auto;
  bottom: -6px;
}

.u-block-fbcf-3 {
  position: absolute;
  left: 0;
}

.u-block-fbcf-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-fbcf-5 {
    left: calc(((100% - 940px) / 2)  + 378px);
  }
}

@media (max-width: 991px) {
  .u-block-fbcf-5 {
    left: calc(((100% - 720px) / 2)  + 268px);
  }
}

@media (max-width: 767px) {
  .u-block-fbcf-5 {
    left: calc(((100% - 540px) / 2)  + 178px);
  }
}

@media (max-width: 575px) {
  .u-block-fbcf-5 {
    left: calc(((100% - 340px) / 2)  + 78px);
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-left: auto;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 0;
  }
}

 .u-section-3-2 {
  background-image: url("images/photo_5393381173541062558_y.jpg");
  background-position: 50% 50%;
  min-height: 977px;
}

.u-section-3-2 .u-custom-html-1 {
  height: auto;
  min-height: 39px;
  width: 344px;
  margin: 898px auto 40px;
}

@media (max-width: 1199px) {
   .u-section-3-2 {
    min-height: 806px;
  }
}

@media (max-width: 991px) {
   .u-section-3-2 {
    min-height: 479px;
  }

  .u-section-3-2 .u-custom-html-1 {
    margin-top: 440px;
  }
}

@media (max-width: 767px) {
   .u-section-3-2 {
    min-height: 359px;
  }
}

@media (max-width: 575px) {
   .u-section-3-2 {
    min-height: 294px;
  }

  .u-section-3-2 .u-custom-html-1 {
    width: 314px;
    margin-top: 235px;
    margin-bottom: 19px;
  }
}

 .u-section-3-3 {
  background-image: url("images/photo_5393381173541062559_y.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-custom-html-1 {
  height: auto;
  min-height: 39px;
  width: 344px;
  margin: 938px auto 25px;
}

@media (max-width: 1199px) {
   .u-section-3-3 {
    min-height: 666px;
  }

  .u-section-3-3 .u-custom-html-1 {
    margin-bottom: 0;
    margin-top: 626px;
    margin-left: calc(((100% - 940px) / 2) + 309px);
  }
}

@media (max-width: 991px) {
   .u-section-3-3 {
    min-height: 510px;
  }

  .u-section-3-3 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2) + 309px);
  }
}

@media (max-width: 767px) {
   .u-section-3-3 {
    min-height: 383px;
  }

  .u-section-3-3 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2) + 196px);
  }
}

@media (max-width: 575px) {
   .u-section-3-3 {
    min-height: 252px;
  }

  .u-section-3-3 .u-custom-html-1 {
    width: 340px;
    margin-top: 203px;
    margin-bottom: 10px;
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }
}

 .u-section-3-4 {
  background-image: url("images/photo_5393381173541062560_y.jpg");
  background-position: 50% 50%;
}

.u-section-3-4 .u-custom-html-1 {
  height: auto;
  min-height: 39px;
  width: 344px;
  margin: 938px auto 25px;
}

@media (max-width: 1199px) {
   .u-section-3-4 {
    min-height: 100vh;
  }

  .u-section-3-4 .u-custom-html-1 {
    margin-top: 762px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3-4 {
    min-height: 258px;
  }

  .u-section-3-4 .u-custom-html-1 {
    margin-top: 206px;
    margin-bottom: 13px;
    width: 440px;
    margin-left: calc(((100% - 340px) / 2) + -33px);
  }
}

 .u-section-3-5 {
  background-image: url("images/photo_5393381173541062561_y.jpg");
  background-position: 50% 50%;
}

.u-section-3-5 .u-custom-html-1 {
  height: auto;
  min-height: 39px;
  width: 344px;
  margin: 938px auto 25px;
}

@media (max-width: 1199px) {
   .u-section-3-5 {
    min-height: 100vh;
  }

  .u-section-3-5 .u-custom-html-1 {
    margin-bottom: 0;
    margin-top: 762px;
    margin-left: calc(((100% - 940px) / 2) + 282px);
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2) + 282px);
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2) + 196px);
  }
}

@media (max-width: 575px) {
   .u-section-3-5 {
    min-height: 274px;
  }

  .u-section-3-5 .u-custom-html-1 {
    margin-top: 221px;
    margin-bottom: 14px;
    width: 440px;
    margin-left: calc(((100% - 340px) / 2) + -17px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 127px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 15px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 433px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-gallery-1 {
  grid-gap: 10px 10px;
  width: 1240px;
  height: 790px;
  margin: 0 auto 11px -23px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-5 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    height: 629px;
    margin-top: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-5 .u-gallery-1 {
    height: 507px;
    margin-top: 642px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    height: 424px;
    margin-top: 725px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-5 .u-gallery-1 {
    height: 298px;
    margin-top: 70px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 246px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 1px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-6 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 919px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-custom-html-1 {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .u-section-7 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-top: 0;
  }
}


  .u-section-7 .u-custom-html-1 {
    margin-top: 0;
    width: 100%;
    height: auto;
    min-height: 4000px;
  }
}.lenta{
	position: absolute;
	top: 0px;
}
.a {
	color: rgb(106, 162, 240);
	text-shadow: 2px 2px 8px rgb(162, 162, 162);
	font-size: 50px;
	width: 400px;
	position: absolute;
	left: 580px;
}
.lent{
	box-shadow: 4px 4px 10px rgb(169, 169, 169);
	background: rgb(106, 162, 240);
}
#line{
	position: absolute;
	top: 220px;
	left: 415px;
	width: 740px;
	height: 50px;
	border-radius: 10px;
}
.date{
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	width: 110px;
	color: rgb(133, 179, 245);
	text-shadow: 1.5px 1.5px 4px rgb(169, 169, 169);
}
/*Ветка номер 1*/
#vetka1{
	position: absolute;
	top: 201px;
	left: 500px;
	width: 20px;
	height: 20px;
	border-radius: 10px 10px 0px 0px;
}
#date1{
	position: absolute;
	top: 153px;
	left: 465px;
}
#text_date1{
	display: none;
	position: absolute;
	top: 205px;
	left: 315px;
	height: 300px;
	width: 400px;
	background-color: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	border-style: double;
	border-color: rgb(106, 162, 240);
}
#date1:hover + #text_date1{
	display: block;
}
#text1989{
	position: relative;
	left: 7px;
	top: 7px;
	height: 186px;
	width: 386px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#img1989{
	width: 270px;
	position: relative;
	top: -39px;
	left: 60px;
}
/*Ветка номер 2*/
#vetka2{
	position: absolute;
	top: 269.9px;
	left: 620px;
	width: 20px;
	height: 20px;
	border-radius: 0px 0px 10px 10px;
}
#date2{
	position: absolute;
	top: 269.9px;
	left: 590px;
}
#text_date2{
	display: none;
	position: absolute;
	top: 320px;
	left: 435px;
	height: 300px;
	width: 393px;
	background-color: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	border-style: double;
	border-color: rgb(106, 162, 240);
}
#date2:hover + #text_date2{
	display: block;
}
#text1991{
	position: relative;
	left: 7px;
	top: 7px;
	height: 186px;
	width: 386px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#img1991{
	width: 155px;
	position: relative;
	top: -30px;
	left: 120px;
}
/*Ветка номер 3*/
#vetka3{
	position: absolute;
	top: 201px;
	left: 750px;
	width: 20px;
	height: 20px;
	border-radius: 10px 10px 0px 0px;
}
#date3{
	position: absolute;
	top: 152px;
	left: 715px;
}
#text_date3{
	display: none;
	position: absolute;
	top: 205px;
	left: 575px;
	height: 350px;
	width: 380px;
	background-color: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	border-style: double;
	border-color: rgb(106, 162, 240);
}
#date3:hover + #text_date3{
	display: block;
}
#text1994{
	position: relative;
	left: 7px;
	top: 7px;
	height: 186px;
	width: 386px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#img1994{
	width: 195px;
	position: relative;
	top: 15px;
	left: 95px;
}
/*Ветка номер 4*/
#vetka4{
	position: absolute;
	top: 269.9px;
	left: 898px;
	width: 20px;
	height: 20px;
	border-radius: 0px 0px 10px 10px;
}
#date4{
	position: absolute;
	top: 269.9px;
	left: 865px;
}
#text_date4{
	display: none;
	position: absolute;
	top: 320px;
	left: 680px;
	height: 350px;
	width: 500px;
	background-color: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	border-style: double;
	border-color: rgb(106, 162, 240);
}
#date4:hover + #text_date4{
	display: block;
}
#text2000{
	position: relative;
	left: 7px;
	top: 7px;
	height: 186px;
	width: 486px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#img2000{
	width: 130px;
	position: relative;
	top: 30px;
	left: 175px;
}
/*Ветка номер 5*/
#vetka5{
	position: absolute;
	top: 201px;
	left: 1050px;
	width: 20px;
	height: 20px;
	border-radius: 10px 10px 0px 0px;
}
#date5{
	position: absolute;
	top: 152px;
	left: 1015px;
}
#text_date5{
	display: none;
	position: absolute;
	top: 205px;
	left: 765px;
	height: 450px;
	width: 650px;
	background-color: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	border-style: double;
	border-color: rgb(106, 162, 240);
}
#date5:hover + #text_date5{
	display: block;
}
#text2008{
	position: relative;
	left: 7px;
	top: 7px;
	height: 186px;
	width: 636px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#img2008{
	width: 400px;
	position: relative;
	top: -40px;
	left: 120px;
}
#litext2008{
	position: relative;
	top: -43px;
	left: 10px;
	width: 636px;
	text-shadow: 1.5px 1.5px 4px rgb(162, 162, 162);
}
#file{
	position: relative;
	top: 330px;
	left: 450px;
}
#webalb {
	color: rgb(106, 162, 240);
	text-shadow: 2px 2px 8px rgb(162, 162, 162);
	font-size: 50px;
	width: 400px;
	position: relative;
	top: 350px;
	left: 615px;
	
}