.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-slider-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 607px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 22px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-group-1 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 29px;
}

.u-section-1 .u-image-1 {
  width: 520px;
  height: 317px;
  object-position: 50% 5.38%;
  margin: -464px auto 0 245px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 407px;
  margin: 69px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-video-1 {
  height: 309px;
  width: 549px;
  margin: 80px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-group-2 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 40px 29px;
}

.u-section-1 .u-image-2 {
  width: 520px;
  height: 317px;
  object-position: 50% 5.38%;
  margin: -464px auto 0 245px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 407px;
  margin: 69px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-1 {
    object-position: 13.57% 50%;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-2 {
    object-position: 13.57% 50%;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 72px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-image-1 {
    object-position: 13.57% 9.81%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-image-2 {
    object-position: 13.57% 9.81%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    height: 247px;
    width: 439px;
    margin-top: 150px;
    margin-left: 34px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
    top: auto;
    right: auto;
    bottom: 187px;
    position: absolute;
  }

  .u-section-1 .u-carousel-control-2 {
    top: auto;
    bottom: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    min-height: 574px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-video-1 {
    height: 180px;
    margin-top: 167px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 195px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-carousel-control-1 {
    bottom: 84px;
  }

  .u-section-1 .u-carousel-control-2 {
    bottom: 84px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1280px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 155px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 135px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 474px 0 0;
}

.u-section-3 .u-text-2 {
  margin: -50px 135px 0 385px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 115px;
}

.u-section-3 .u-container-layout-2 {
  padding: 29px 60px 0;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 85px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 73px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 64px;
  }
}